.login-container {
  width: 70%;
  height: 80vh;
  margin: 7vh auto;
  display: flex;
  background-color: #2f3855;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.image-section {
  flex: 1.5;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0 0 15px;
  flex-direction: column;
  align-items: center;
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 15px 0 0 15px;
}

.form-section {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-section h6 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

.form-section p {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 30px;
}

.form-section input {
  margin-bottom: 25px;
  padding: 12px;
  border-radius: 15px;
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  color: #000000;
  border: none;
}

.form-section button {
  padding: 12px;
  background-color: #84aadc;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.form-section button:hover {
  background-color: #e27569;
}

.form-section .signup {
  margin-top: 25px;
  font-size: 14px;
}

.form-section .signup a {
  color: #84aadc;
  text-decoration: none;
}

.form-section .signup a:hover {
  text-decoration: underline;
}

.form-section input:focus {
  outline: none;
  border: 1px solid #889de0;
  box-shadow: 0 0 5px #a3c1d5;
}
.input-container {
  position: relative;
  width: 80%;
  margin: 2% auto;
}
.input-container input {
  width: 100%; /* O input ocupará toda a largura do container */
  padding: 10px 10px 10px 40px; /* Mantém espaço para o ícone à esquerda */
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  box-sizing: border-box; /* Garante que o padding não aumente a largura */
  transition: border-color 0.3s;
}

.input-container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
  font-size: 15px;
  pointer-events: none;
}

.input-container input:focus {
  outline: none;
  border: 1px solid #84aadc;
  box-shadow: 0 0 5px rgba(48, 222, 172, 0.5);
}

@media screen and (max-width: 600px) {
  .login-container {
    width: 90%; 
    height: auto; 
    flex-direction: column; 
  }

  .image-section {
    flex: none; 
    width: 100%; 
    border-radius: 15px 15px 0 0; 
  }

  .form-section {
    flex: none; 
    width: 100%; 
    border-radius: 0 0 15px 15px; 
    padding: 20px; 
  }

  .form-section input,
  .form-section button {
    width: 50%; 
  }

  .form-section h6 {
    font-size: 20px; 
  }

  .form-section p {
    font-size: 12px; 
  }
}

@media screen and (max-width: 800px) {
  .form-section h6 {
    font-size: 18px; 
  }

  .form-section p {
    font-size: 12px; 
  }

  .input-container {
    position: relative;
    width: 80%; 
    margin: 2% auto;
  }

  .input-container input {
    width: 100%; 
    padding: 10px 10px 10px 40px; 
    font-size: 14px; 
    box-sizing: border-box; 
  }

  .input-container i {
    font-size: 14px; 
    left: 10px;
    top: 50%; 
    transform: translateY(-50%); 
  }
 .input-container {
    width: 100%; 
  }

  .image-section img {
    max-height: 150px; 
  }
}
