.btn-check:checked + .btn-secondary {
  background-color: #84aadc;
  border-color: #67b0ff;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.icon-color {
  color: #84aadc;
}

.btn-primary{
  background-color: #6284b0;
  border-color: #67b0ff;
}

.table-responsive {
  min-height: calc(100vh - 270px);
}
